# config
ad_number        = 1
namespace        = ""

#switches 
adw_enabled      = false
atp_enabled      = false
ajd_enabled      = false
rj_enabled       = false
oac_enabled      = false
dbas_enabled     = false
vcn_use_existing = false
obs_enabled      = false

# SSH Keys  
ssh_public_key  = ""
ssh_private_key = ""

# Virtual Cloud Network
//if vcn_use_existing
vcn_existing            = "{existing vcn OCID}"
subnet_public_existing  = "{existing public subnet ocid}"
subnet_private_existing = "{existing private subnet ocid}"
//else create
subnet_public_displayname  = "Relational Junction - Public"
subnet_public_cidr         = "10.0.0.0/24"
subnet_private_displayname = "Relational Junction - Private"
subnet_private_cidr        = "10.0.1.0/24"
pub_subnet_dns_label       = "rjpublic"
pvt_subnet_dns_label       = "rjprivate"
IGW_displayname            = "Relational Junction IGW"
vcn_cider_block            = "10.0.0.0/16"
pvt_sl_displayname         = "Relational Junction - Private SL"
pub_sl_displayname         = "Relational Junction - Public SL"
pvt_rt_displayname         = "Relational Junction - Private RT"
pub_rt_displayname         = "Relational Junction - Public RT"
vcn_dns_label              = "rjvcn"
VCN_displayname            = "Relational Junction VCN"
nat_displayname            = "Relational Junction NAT"

# Autonomous Data Warehouse
autonomous_database_admin_password           = "{SuperSecretPassword}"
autonomous_database_cpu_core_count           = "1"
autonomous_database_db_name                  = "ADWDB"
autonomous_database_display_name             = "My ADW DB"
autonomous_database_db_version               = "19c"
autonomous_database_is_auto_scaling_enabled  = "false"
autonomous_database_data_storage_size_in_tbs = "1"
autonomous_database_license_model            = "BRING_YOUR_OWN_LICENSE"
autonomous_database_data_safe_status         = "NOT_REGISTERED"

# Relational Junction Server
rj_instance_name      = "rjserver"
rj_shape              = "VM.Standard2.4"
tags                  = { environment = "poc" }
rj_type               = "Relational Junction Standard"
instance_shape_config_memory_in_gbs            = "200"

# Database
database_admin_password = "{SuperSecretPassword}"
database_db_unique_name = "DEVDB"
database_display_name   = "Dev_Analytics_DB"
database_db_workload    = "OLTP"
database_pdb_name       = "PDB1"
database_version        = "21.1.0.0"
database_shape          = "VM.Standard2.1"
database_storage        = "1024"
database_edition        = "STANDARD_EDITION"
database_nodecount      = "1"
database_hostname       = "Analytics"

# Oracle Analytics Cloud
oac_name                = "TFtest"
oac_description         = "this is a test"
oac_capacity_type       = "OLPU_COUNT"
oac_capacity_value      = 1
oac_capacity_value_prod = 2
oac_feature_set         = "ENTERPRISE_ANALYTICS"
oac_license_type        = "LICENSE_INCLUDED"
oac_idcs_token          = "eyJ4NXQjUz...p_wP5h4jEeAothw"

#Object Storage
obs_name           = "RJ OBS Target"
bucket_access_type = "NoPublicAccess"
